<h1>Contact Me</h1>

<p>
	If you want to chat with me, follow me on twitter: <a href="https://twitter.com/teresleitoa">@teresleitoa</a> or likedin: <a href="www.linkedin.com/in/luiz-andre-furlan">Luiz André Furlan</a>.
</p>