<div class="jumbotron">
	<h1>Album List</h1>
	<p>Create your album list with your favorite artists!</p>
	<p>
		<%= link_to 'Create your account', new_user_path, class: 'btn btn-primary btn-lg'%>
	</p>
</div>