default: &default
  adapter: mysql2
  encoding: utf8
  database: mysql
  username: root
  password: 12345678
  host: 127.0.0.1
  port: 3306

  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: teste_moat_development

test:
  <<: *default
  database: teste_moat_test

production:
  <<: *default
  database: teste_moat_production
  username: teste_moat
  password: <%= ENV["TESTE_MOAT_DATABASE_PASSWORD"] %>
