default: &default
  adapter: mysql2
  encoding: utf8
  database: <%= ENV['DATABASE_NAME'] || 'mysql' %>
  username: <%= ENV['DATABASE_USERNAME'] || 'rails_user' %>
  password: <%= ENV['DATABASE_PASSWORD'] || 'senha_segura' %>
  host: <%= ENV['DATABASE_HOST'] || 'db' %>
  port: <%= ENV['DATABASE_PORT'] || '3306' %>

  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: teste_moat_development

test:
  <<: *default
  database: teste_moat_test

production:
  <<: *default
  database: teste_moat_production
  username: teste_moat
  password: <%= ENV["TESTE_MOAT_DATABASE_PASSWORD"] %>
