<div id="<%= dom_id album %>">
  <p>
    <strong>Artist:</strong>
    <%= album.artist %>
  </p>

  <p>
    <strong>Album name:</strong>
    <%= album.album_name %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= album.year %>
  </p>

</div>
